@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Reg.otf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'ProximaNova Bold';
    src: url('../fonts/ProximaNova-Bold.otf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}